<div class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-br from-red-600 via-yellow-400 to-red-800">
  <div class="bg-black p-10 rounded-2xl shadow-2xl text-center border-4 border-yellow-300">
    <div class="text-4xl mb-6 text-white">
      あたりを引きましょう!!!!
    </div>
 

    <%= link_to "回す!", fortune_path,
          class: "bg-gradient-to-r from-red-500 to-yellow-500 text-white px-8 py-4 rounded-full shadow-lg hover:scale-105 transform transition" %>
  </div>
</div>